body,
html {
  min-width: 1366px;
}
.z_collegedetails_1 {
  width: 100%;
  height: 636px;
  background-color: #FF5F68;
}
.z_collegedetails_1_1 {
  width: 100%;
  background-color: #F2F2F2;
}
.z_collegedetails_1_2 {
  width: 68%;
  margin-left: 16%;
  padding-top: 72px;
}
.z_collegedetails_2 {
  width: 70%;
  margin-left: 15%;
}
.z_collegedetails_2 dl {
  display: flex;
  padding-top: 120px;
}
.z_collegedetails_2 dl dt {
  width: 181px;
  height: 181px;
  background-color: #ffffff;
}
.z_collegedetails_2 dl dd {
  margin-left: 70px;
  font-size: 15px;
  margin-top: 17px;
}
.z_collegedetails_3 {
  font-size: 48px;
  font-family: Adobe Heiti Std R;
  font-weight: normal;
  color: #ffffff;
}
.z_collegedetails_4 {
  font-size: 24px;
  font-family: ArialMT;
  font-weight: 400;
  color: #dcdcdc;
  margin-top: 8px;
}
.z_collegedetails_5 {
  margin-top: 43px;
  font-size: 22px;
  font-family: ArialMT;
  font-weight: 400;
  color: #ffffff;
}
.z_collegedetails_6 {
  width: 18px;
  height: 18px;
  background: url("../images/weizhi_03.jpg") no-repeat;
  display: inline-block;
  position: relative;
  top: 2px;
}
.z_collegedetails_7 {
  width: 70%;
  margin-left: 15%;
}
.z_collegedetails_7 ul {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.z_collegedetails_7 ul li {
  width: 13.5%;
  height: 167px;
  font-size: 22px;
  font-family: Adobe Heiti Std R;
  font-weight: normal;
  background-color: #ffffffa3;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-radius: 10px;
}
.z_collegedetails_8 {
  width: 100%;
  font-size: 20px;
  font-family: Adobe Heiti Std R;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}
.z_collegedetails_9 {
  font-size: 16px;
  font-family: Adobe Heiti Std R;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  line-height: 4;
}
.z_collegedetails_10 {
  font-size: 16px;
  font-family: Adobe Heiti Std R;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}
.z_collegedetails_11 {
  padding-top: 4px;
}
.z_collegedetails_1_3 {
  font-size: 40px;
  font-family: Adobe Heiti Std R;
  font-weight: normal;
  color: #ff5f68;
}
.z_collegedetails_1_4 {
  font-size: 22px;
  font-family: Adobe Heiti Std R;
  font-weight: normal;
  color: #000000;
  width: 100%;
  line-height: 2;
  padding-top: 45px;
}
.z_collegedetails_1_5 {
  background: #f6f6f6;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.07);
  border-radius: 10px 11px 11px 11px;
  width: 75%;
  margin-left: 25%;
  height: 80px;
  margin-top: 63px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.z_collegedetails_1_5 li {
  cursor: pointer;
  margin: 12px 0;
  width: 33.3%;
  font-size: 22px;
  font-family: Adobe Heiti Std R;
  font-weight: normal;
  text-align: center;
}
.z_collegedetails_1_5 li div {
  text-align: center;
}
.z_collegedetails_1_5_6 {
  padding: 10px 0 5px 0;
  margin-left: -17.5%;
  font-size: 19px;
  width: 35%;
  position: relative;
  left: 50%;
}
.z_black_color {
  color: #000000;
}
.z_black_bo_line {
  border-bottom: 3px solid #000000;
}
.z_red_color {
  color: #ff5f68;
}
.z_red_bo_line {
  border-bottom: 3px solid #ff5f68 !important;
}
.z_bo_ri {
  border-right: 2px solid #C4C4C4;
}
.z_bo_le {
  border-left: 2px solid #C4C4C4;
}
.z_collegedetails_1_8 {
  padding-bottom: 120px;
  width: 100%;
  margin-top: 43px;
  display: flex;
}
.z_collegedetails_1_8_left {
  width: 20%;
  height: 500px;
}
.z_collegedetails_1_8_right {
  margin-left: 5%;
  width: 75%;
  height: 1267px;
  overflow: auto;
  padding-right: 20px;
}
.z_collegedetails_1_8_left_choose_1 {
  border: 1px solid #A8A8A8;
  width: 100%;
  height: 565px;
}
.z_collegedetails_1_8_left_choose_2 {
  width: 100%;
  border: 1px solid #A8A8A8;
  height: 565px;
  margin-top: 50px;
}
.z_collegedetails_1_8_left_choose_1_title {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background-color: #ff5f68;
  font-size: 22px;
  font-family: Adobe Heiti Std R;
  color: #ffffff;
  font-weight: normal;
  text-align: center;
}
.z_collegedetails_1_8_left_choose_1_con {
  width: 100%;
  height: 490px;
  overflow: auto;
}
.z_collegedetails_1_8_left_choose_1_con ul li {
  width: 80%;
  padding: 10% 7% 0 10%;
  overflow: auto;
}
.z_collegedetails_1_8_left_choose_1_con::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  border-bottom: none;
}
.z_collegedetails_1_8_left_choose_1_con::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px #ffffff;
  background: #ff5f68a6;
  border-bottom: none;
}
.z_collegedetails_1_8_left_choose_1_con::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #ffffff;
  border-radius: 10px;
  background: #EDEDED;
  border-bottom: none;
}
.z_collegedetails_1_8_left_choose_1_con ul {
  margin-top: 10px;
}
.z_collegedetails_1_8_left_choose_1_con ul li {
  padding: 5% 7% 5% 10%;
  font-size: 16px;
  line-height: 1;
  width: 82%;
  color: #ADADAD;
  cursor: pointer;
}
.z_collegedetails_1_8_left_choose_1_con ul li span {
  display: none;
  width: 18px;
  height: 18px;
  float: right;
  color: #ff5f68;
}
.z_collegedetails_1_8_left_choose_2_con {
  width: 100%;
  height: 480px;
  overflow: auto;
}
.z_collegedetails_1_8_left_choose_2_con::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
.z_collegedetails_1_8_left_choose_2_con::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px #ff5f68a6;
  background: #ff5f68a6;
}
.z_collegedetails_1_8_left_choose_2_con::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #ff5f68a6;
  border-radius: 10px;
  background: #EDEDED;
}
.z_collegedetails_1_8_left_choose_2_con ul li {
  cursor: pointer;
  padding: 5% 7% 5% 10%;
  width: 82%;
  font-size: 16px;
  color: #ADADAD;
}
.z_collegedetails_1_8_left_choose_2_con ul li span {
  display: none;
  width: 18px;
  height: 18px;
  float: right;
  color: #ff5f68;
}
.z_collegedetails_1_8_right {
  font-size: 18px;
}
.z_collegedetails_1_8_right_con {
  width: 100%;
  margin-top: 48px;
}
.z_collegedetails_1_8_right::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
.z_collegedetails_1_8_right::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px #ff5f68a6;
  background: #ff5f68a6;
}
.z_collegedetails_1_8_right::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #ff5f68a6;
  border-radius: 10px;
  background: #EDEDED;
}
.z_collegedetails_1_8_right_con:nth-child(1) {
  margin-top: 0px;
}
.z_collegedetails_1_8_right_con p {
  font-size: 21px;
  font-family: Adobe Heiti Std R;
  font-weight: normal;
  color: #000000;
}
.z_collegedetails_1_8_right_con div {
  font-size: 16px;
  font-family: Adobe Heiti Std R;
  font-weight: normal;
  color: #000000;
  width: 100%;
  line-height: 2;
  padding-top: 30px;
}
