html,
body {
  min-width: 1366px;
}
.z_de_bg {
  background-color: #eeeeee;
}
.z_title {
  width: 1220px;
  margin: 0 auto;
  height: 60px;
}
.za_table {
  width: 1220px;
  margin: 40px auto;
  display: flex;
}
.z_title_all {
  margin-top: 36px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #686868;
}
.z_title_right {
  position: relative;
  top: -10px;
  float: right;
  display: flex;
}
.z_title_left {
  display: inline-block;
}
.z_title_input {
  display: inline-block;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #aaaaaa;
  width: 236px;
  height: 38px;
  line-height: 38px;
  text-indent: 15px;
  border: 1px solid #686868;
}
.z_search {
  width: 42px;
  height: 42px;
  background: #ff5b61;
  display: inline-block;
  position: relative;
}
.z_title_icon {
  position: absolute;
  cursor: pointer;
  background: url("../images/search.png") no-repeat;
  width: 42px;
  height: 42px;
  background-size: 60% 60%;
  background-position-x: 45%;
  background-position-y: 45%;
  z-index: 1;
  right: 0;
}
.z_list_of_articles_deatil {
  display: none;
}
.z_first {
  width: 100%;
  height: 99px;
  background: #eeeeee;
}
.z_first ul {
  display: flex;
  padding: 0;
  width: 988px;
  margin: 0 auto;
  font-size: 19px;
  font-family: FZLTZHK--GBK1-0;
  font-weight: normal;
  color: #565656;
}
.z_first ul li {
  cursor: pointer;
  height: 54px;
  line-height: 54px;
  width: 25%;
  text-align: center;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  margin-top: 22.5px;
  border-right: 0;
  font-size: 19px;
  font-family: FZLTZHK--GBK1-0;
  font-weight: normal;
  color: #565656;
}
.z_bo_line_red {
  border-bottom: 3px solid #FF5B61!important;
}
.z_bo_line_none {
  display: none;
}
.z_bo_line_block {
  display: block;
  position: relative;
  width: 100%;
}
.z_bo_line_block:after {
  position: absolute;
  top: 0px;
  left: 46%;
  content: '';
  width: 0;
  height: 0;
  border-style: dashed dashed solid dashed;
  border-width: 8px;
  border-color: transparent transparent red transparent;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -moz-transform: rotate(180deg);
  /* Firefox */
  -webkit-transform: rotate(180deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(180deg);
}
.za_table_left {
  width: 75%;
}
.za_table_right {
  width: 25%;
  height: 592px;
}
.z_isshowDETAIL {
  display: none;
}
.za_table_left dl {
  padding-top: 10px;
  display: flex;
  width: 95%;
  height: 150px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
}
.za_table_left dl dt {
  width: 240px;
}
.za_table_left dl dd {
  margin-left: 2%;
  margin-top: 10px;
  width: 70%;
}
.za_table_left dl dt img {
  width: 100%;
  height: 147px;
}
.za_table_right_title {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #000000;
}
.z_navbarto {
  cursor: pointer;
}
.za_table_right_num_icon {
  display: inline-block;
  width: 16px;
  height: 17px;
  position: relative;
  top: 2px;
  background: url("../images/weizhi_03.jpg") no-repeat;
}
.fot {
  font-size: 15px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #626262;
}
.za_table_right_con {
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 75px;
  line-height: 1.3;
  font-size: 15px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #626262;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.za_table_right_icon {
  width: 100%;
  height: 186px;
  background: url("../images/samplereels_big_03.jpg") no-repeat;
  background-size: 100% 100%;
}
.za_table_right_con_1 {
  width: 100%;
  height: 446px;
  background: #eeeeee;
}
.za_table_right_con_1_con {
  padding: 25px;
}
.za_table_right_con_1_con_title {
  font-size: 16px;
  font-family: FZLTZHK--GBK1-0;
  font-weight: normal;
  color: #000000;
}
.za_table_right_con_1_boli {
  margin-top: 5px;
  width: 68px;
  height: 3px;
  background: #ff5b61;
}
.za_table_right_con_1_boli_inpu {
  width: 100%;
}
.za_table_right_con_1_boli_input {
  position: relative;
  top: 15px;
  font-size: 15px;
}
.za_table_right_con_1_boli_input input {
  height: 46px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  font-size: 13px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  text-indent: 15px;
  margin-top: 8px;
}
.ab::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000000;
}
.ab:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000000;
}
.ab::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000000;
}
.ab:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #000000;
}
.ac::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #aaaaaa;
}
.ac:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aaaaaa;
}
.ac::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aaaaaa;
}
.ac:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #aaaaaa;
}
.za_table_right_con_1_boli_sure {
  height: 46px;
  cursor: pointer;
  background: #ff5b61;
  width: 100%;
  font-size: 16px;
  font-family: FZLTZHK--GBK1-0;
  font-weight: normal;
  color: #ffffff;
  border: none;
  margin-top: 15px;
}
.z_detial_title {
  font-size: 20px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #000000;
}
.z_detial_title_auos {
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #aaabab;
  margin-top: 15px;
}
.z_detial_title_auos_left {
  width: 60%;
}
.z_detial_title_auos_right {
  width: 40%;
  text-align: right;
}
.z_detial_all {
  width: 95%;
}
.z_detial_content {
  padding-right: 15px;
  font-size: 16px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  max-height: 852px;
  width: 100%;
  color: #565555;
  margin-top: 25px;
  overflow: auto;
  line-height: 2;
}
.z_detial_content::-webkit-scrollbar {
  /*������������ʽ*/
  width: 8px;
  /*�߿�ֱ��Ӧ�����������ĳߴ�*/
  height: 1px;
}
.z_detial_content::-webkit-scrollbar-thumb {
  /*����������С����*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  background: #bfbfbf;
}
.z_detial_content::-webkit-scrollbar-track {
  /*������������*/
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.z_detial_content_sao {
  margin-top: 50px;
  font-size: 17px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #565555;
}
.z_detial_content_icon_teo {
  width: 232px;
  height: 232px;
  background-color: gray;
  margin: 21px 0;
}
.z_detial_content_use_1 {
  font-size: 17px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #5c5e5e;
}
.z_detial_content_use_2 {
  font-size: 17px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #f84646;
  margin-top: 20px;
  cursor: pointer;
}
.z_detial_content_use_3 {
  font-size: 17px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #5c5e5e;
  margin-top: 38px;
}
.z_detial_content_use_5 {
  font-size: 17px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #5c5e5e;
}
.z_detial_content_use_4 {
  font-size: 17px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #5c5e5e;
  margin-top: 35px;
}
.z_detial_content_use_5 {
  display: inline-block;
}
.z_detial_content_use_5 span {
  margin-left: 35px;
  border: 1px solid #5c5e5e;
  border-radius: 17px;
  padding: 5px 15px;
}
.z_detial_content_use_6 {
  font-size: 17px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #5c5e5e;
  margin-top: 35px;
}
.z_detial_content_use_6_ico {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-left: 15px;
  position: relative;
  top: 5px;
}
.z_detial_content_use_6_ico_1 {
  background: url("../images/weixin.png") no-repeat;
}
.z_detial_content_use_6_ico_2 {
  background: url("../images/weibo.png") no-repeat;
}
.z_detial_content_use_6_ico_3 {
  background: url("../images/qq_pace.png") no-repeat;
}
.z_detial_content_use_6_ico_4 {
  background: url("../images/Facebook_blue.png") no-repeat;
}
.z_detial_content_use_7 {
  font-size: 17px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #5c5e5e;
  margin-top: 13px;
}
.z_detial_content_use_7 div {
  margin-top: 12px;
  cursor: pointer;
}
.z_detial_content_use_8 {
  display: flex;
  width: 100%;
  margin-top: 30px;
  font-size: 17px;
}
.z_detial_content_use_8 span {
  font-size: 19px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #f84646;
}
.z_detial_content_use_8_left {
  width: 50%;
}
.z_detial_content_use_8 ul li {
  width: 95%;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #565555;
}
.z_detial_content_use_8_right {
  margin-left: 10%;
}
.z_detial_content_use_9 {
  width: 60%;
  height: 350px;
  border-radius: 20px;
  background: url(../images/banner1_02.jpg) no-repeat;
  background-size: 100%;
  margin-left: 20%;
  font-size: 15px;
  margin-top: 65px;
  margin-bottom: 65px;
}
#kkpager {
  margin-bottom: 50px;
}
.z_all_last {
  width: 1220px;
  background-color: red;
}
